nav > ul{
    display: flex;
    margin-right: 15px;    
}

nav li{
    list-style: none;
    margin-right: 20px;
    padding: 15px;
}
nav li:hover{
    background-color: antiquewhite;
}

nav li a{
    text-decoration: none;
    color: black;
}

footer{
    text-align: center;
    margin: top;
}

main>section> form> label{
    display: block;
    margin-bottom: 10px;
}

main section fieldset> label{
    display: block;
    margin-bottom:10px;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 5px 10px;
}